@model WebchatBuilder.ViewModels.PwdViewModel

<div>
    @Html.HiddenFor(m => m.UserId)
    <div class="form-group">
        @Html.Label("Password", new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Confirm Password", new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-validation">
        @Html.ValidationSummary()
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default pull-right" value="Save" />
        </div>
    </div>
</div>
